body#temaA{
  padding: 0;
  margin: 0;
  text-align: center;
  background-color:pink;
}

body#temaB{
  padding: 0;
  margin: 0;
  text-align: center;
  background-color:red;
}

#section2{
	text-align: left;
	padding:25px;
	margin-left: :10px;
    }

.temaA h3{
    background-color:aqua;
    padding:10px;
    margin:3px;
    }
.temaB h3{
    background-color:yellow;
    padding:10px;
    margin:3px;
    }
.temaA div{
    color:#FFF;
    background-color:maroon;
    padding:25px;
    margin-left:25px;
    }
.temaB div{
    color:#FFF;
    background-color:green;
    padding:25px;
    margin-left:25px;
    }

.navbar {
  background:#FFFFFF;
  height: 10%;
}
.navbar-brand {
  cursor: pointer;
}
.nav-link {
  color: #000000
}

.box{
  width: 100%;
  border:1px solid black;
  margin: 10px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.container {
  margin-bottom: 1rem;
}

main {
  margin-top: 5vh;
}

#f {
  width: 100%;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}