body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color:green;
}

#section2{
	text-align: left;	
	padding:10px;
	margin:3px;
    }

.temaA h3{
    background-color:aqua;
    }
.temaB h3{
    background-color:yellow;
    padding:10px;
    margin:3px;
    width:60%;
    }
.temaA div{
    color:#FFF;
    background-color:maroon;
    }
.temaB div{
    color:#FFF;
    background-color:green;
    padding:25px;
    width:55%;
    margin-left:25px;
    }
