{% extends "base.html" %}
{% block content %}
    <div class="container" id="logincontainer">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %} {% if next %} {% if user.is_authenticated %}
            <p>
              Your account doesn't have access to this page. To proceed, please login
              with an account that has access.
            </p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %} {% endif %}
        
            <form method="post" action="{% url 'homepage:login' %}">
              {% csrf_token %}
<div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
</div>
<div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
</div>
                  <!-- <td>{{ form.username.label_tag }}</td>
                  <td>{{ form.username }}</td>
                </tr>
                <tr>
                  <td>{{ form.password.label_tag }}</td>
                  <td>{{ form.password }}</td>
                </tr>
              </table> -->
        
              <input type="submit" class="btn btn-primary" value="login" />
              <input type="hidden" name="next" value="{{ next }}" />
            </form>
    </div>
{% endblock %}

