<!doctype html>
<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>Mario E</title>
<link rel="stylesheet" href="{% static 'css/story.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'jquery/story8.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Mario Ekaputta</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Story 8 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <span class="navbar-text">
      PPW
    </span>
  </div>
</nav>
<main>
    <div class="d-flex justify-content-center align-items-center container">
      <form id="f">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search Books" value="Harry Potter" id="search">
    <div class="input-group-append">
      <button class="btn btn-secondary" type="button">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>                
                <th scope="col">Publisher</th>
                <th scope="col">Image</th>
            </tr>
        </thead>
        <tbody id="cont">
        </tbody>
    </table>
</div>
</main>
<script type="text/javascript" src="{% static 'jquery/story8.js' %}"></script>
</body>
</html>
