{% extends "base.html" %}
{% block content %}
<p>Welcome, {{ user.username }} ({{ user.first_name}} {{ user.last_name}}). Thanks for logging in.</p>
<a href="{% url 'homepage:logout' %}">Logout</a>
{% endblock %}